body{
  color: #40514e;
  text-align: center;
  margin:0;
  font-family: "verdana";
}

h1{
  color: #66BFBF;
  font-size: 500%;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento";
}
h2{
  font-weight: 500;
  color: #66BFBF;
  font-family: Montserrat;
  font-size: 1.75rem;
}
hr{
  margin: 100px auto 100px auto;
  border-style: dotted none none;
  border-width: 8px;
  border-color: lightgrey;
  width: 5%;

}
a{
  color: #11999E;
  font-size: "Montserrat";
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: #eaf6f6;
}

h3{

  color: #66BFBF;
  font-family: Montserrat;

}
.roundpic{
  border-radius: 50%;
}
.computerpic{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

p{
  line-height: 1.5;
}
.pspic{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top-container{
  background-color: #e4f9f5;
  position:relative;
  padding-top: 100px;

}

.intro{
width:30%;
margin:auto;
line-height: 1.5;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;

}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-cloud{
  position: absolute;
  bottom:300px;
  left: 320px;

}
.top-cloud{
  position:absolute;
  top:50px;
  right:320px;

}
.skill-row{
  line-height: 2;
  text-align: left;
  width: 50%;
  margin: 120px auto 120px auto;
}
.contact-message{
  margin: 70px auto;

}
.btn {
  background: #66BFBF;
  border-radius: 28px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
}
